<% content_for :title, "ポートフォリオサイト|武井大地" %>
<button id="top-btn">トップ</button>
<button id="menu-btn">メニュー</button>
<div class="introduction">
  <div class="top-introduction">
    <%= image_tag "introduction_img.png", class: "profile_img" %>
    <h1 class="name" id="introduction">Daichi Takei</h1>
  </div>
</div>
<div class="main sns">
  <h4>SNS</h4>
  <div class="flex">
    <div>
      <a href="https://x.com/CqbsAuCgYY51036" target="_blank">
        <%= image_tag "logo-black.png", class: "sns_img" %>
      </a>
    </div>
    <div>
      <a href="https://github.com/daichitk1" target="_blank">
        <%= image_tag "github-mark.png", class: "sns_img" %>
      </a>
    </div>
    <div>
      <a href="https://www.wantedly.com/id/daichi_takei_b" target="_blank">
      <%= image_tag "Wantedly_Mark_LightBG.png", class: "sns_img" %>
      </a>
    </div>
  </div>
</div>
<div class="news-title">News</div>
  <div class="news">
    <div class="news-text">
      <div class="news-content">
      <a href="https://qiita.com/daichitk1/items/720b6f3997b3bb273685" target="_blank">
        <%= image_tag "IMG_5480.jpg", class: "news-img" %>
      </a>
      <b>基本情報技術者試験受験</b><br>
      12月に基本情報技術者試験を受験し、合格基準点の60パーセントを超えました。1月に合格発表見込みです。
      </div>
    </div>
    <div class="news-text">
      <div class="news-content">
      <%= image_tag "IMG_5639.jpg", class: "news-img" %>
      <b>ポートフォリオサイトの公開</b><br>
        JavaScript、HTML&CSSを利用し作成しました。herokuで独自ドメインを適用しデプロイしました。
      </div>
    </div>
  </div>
</div>
<div class="side-bar on-side-bar">
    <nav>
      <ul class="menu-content">
        <li><a href="#goal">理想のエンジニア像</a></li>
        <li><a href="#career">簡単な経歴</a></li>
        <li><a href="#information_skill">情報系スキル</a></li>
        <li><a href="#qualification">資格</a></li>
        <li><a href="#hobby">趣味</a></li>
        <li><a href="#award">受賞歴</a></li>
        <li><a href="#activities">部活・サークル</a></li>
        <li><a href="#context">お問い合わせ</a></li>
      </ul>
    </nav>
  </div>
</div>
<div class="main">
  <div class="semi-title-4" id="goal">
    <h2>理想のエンジニア像</h2>
    <h3>顧客が欲しいものを技術で実現できる<br>
    幅広い知見を持ったエンジニアになりたい</h3>
    <div class="content-text">
      エンジニアは技術への興味が強くなりがちだと思うのですが、<br>
    ・<b>顧客が何を実現したいかを掘り起こす能力</b><br>
    ・<b>掘り起こした要望を実現する技術</b><br>
    どちらも必要だと思っています。<br><br>
    そのため、実装能力を高めると共に、どのようなプロダクトを作るべきか
    考えること求められる環境で力をつけていきたいと思っています。
    </div>
  </div>

  <div class="semi-title semi-title-2" id="career">
    <h2>簡単な経歴</h2>
    <h3 class="mt-4">学歴</h3>
    2014年4月〜2017年3月<br> 静岡県立韮山高校 普通科<br><br>
    2018年4月〜2022年3月<br> 茨城大学工学部情報工学科<br><br>
    2022年4月〜2024年3月<br> 電気通信大学大学院<br> 情報理工学研究科 情報学専攻
    <h3 class="mt-4">職歴</h3>
    2024年4月〜2024年12月<br>SaaSのIT企業<br>
    4ヶ月のエンジニア研修ののち、<br>サポートチームに配属<br>
  </div>


  <div class="semi-title semi-title-1">
    <h2 id="information_skill">情報系スキル</h2>
    <div class="information-content">
      <h3 class="mt-4">プログラミング言語</h3>
      <div class="prog">
      <h4>2年以上</h4>
          <ul>
          <li>Python</li>
          <div class="content-text">
            大学院時代に研究や授業にて使用しました。<br>
            また、Python習得のため、1年以上AtCoderに参加しPythonを習得しました。
          </div>
          <li>C</li>
          <div class="content-text">
            学部時代に情報系の分野を学んでいたため、授業や研究で使いました。
          </div>
          </ul>

      </div>
      <div class="prog">
        <h4>2年未満</h4>
        <ul>
          <li>HTML&CSS、Ruby、JavaScript</li>
          <div class="content-text">
            新卒のエンジニア研修で利用していました。現在railsで個人開発をしており、この辺りの言語の習得に特に力を入れています。<br>
            このポートフォリオもHTML&CSSやJavaScriptを利用しています。
          </div>
          <li>Java、Perl</li>
          <div class="content-text">
            学部時代に授業で利用しました。
          </div>
        </ul>
      </div>
    

      <h3 class="mt-4">フレームワーク</h3>
      <div class="prog">
        <ul>
          <li>Ruby on rails</li>
          <div class="content-text">
            新卒のエンジニア研修で利用しており、今も個人開発で利用しています。
          </div>
          <li>bootstrap</li>
          <div class="content-text">
            新卒のエンジニア研修で利用しており、今も個人開発で利用しています。
        </ul>
      </div>

      <h3 class="mt-4">経験した開発環境</h3>
      <div class="prog">
        <ul>
          <li>VSCode</li>
          <li>github</li>
          <li>emacs</li>
        </ul>
      </div>
      <h3 class="mt-4">その他</h3>
      <div class="prog">
        <ul>
        <li> サーバー: heroku</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="semi-title semi-title-2" id="qualification"><h2>資格</h2>
  
    <h3>基本情報技術者試験</h3>
    <div class="content-text">
      12月に受験し、A問題・B問題ともに基準点を越えました。<br>
      1月に合格発表見込みです。
    </div>
    <h3>TOEIC L&R 公開テスト 620点</h3>
    <div class="content-text">
      2021年8月に受験したスコアです。<br>
    </div>
    <h3 class="mt-4">
      <a href="https://atcoder.jp/users/TKq">
        AtCoder
      </a>
    </h3>
    <div class="content-text">
      大学時代にプログラミングコンテストに1年以上Pythonで参加していました。<br>
      ランクは茶色(上位25パーセントほど)、最高レートは649です。
    </div>
  </div>

  <div class="semi-title semi-title-1">
    <h2 id="hobby">趣味</h2>
      <div class="hobby-content">
        <div class="hobby">
          <h3>登山</h3>
          <div class="content-text my-2">
            自然が好きで、2024年は休日に多く山に登りました!<br>
            山を登るにつれ、徐々に見える景色が変わっていく感じや山頂に登った時の達成感が好きです。<br><br>
            2024年登った山: 富士山、雲取山、大菩薩嶺など
          </div>
          <a href="https://yamap.com/users/3228085" target="_blank"><%= image_tag "IMG_3168.png", class: "hobby_img" %></a>
        </div>
      </div>
      <div class="hobby-content">
        <div class="hobby">
          <h3>サイクリング</h3>
          <div class="content-text my-2">
            東京都内の様々なところにサイクリングに行きます。<br>
            (庭園や公園、夜景スポットなど)<br><br>
            今年はロードバイクを購入し、100kmサイクリングをしたいと思っています。
          </div>
          <%= image_tag "IMG_4328.png", class: "hobby_img" %>
        </div>
      </div>
  </div>


  <div class="semi-title semi-title-2" id="award">
    <h2>受賞歴</h2>
    <div class="content-text">
      <h3 class="mt-4">全日本少年少女けん玉道選手権大会 出場</h3>
        小学4年生の時に東海大会で2位になり、けん玉の全国大会に出場しました。
      <h3 class="mt-4">中体連県大会 800m 8位</h3>
        中学3年生の時に、陸上の800mで県大会予選を全体4位通過し、決勝に進出しました。<br>
        決勝では、8位に入賞しました。<br>
        予選、決勝ともに今までの自己ベストを更新し、大きな自信がつきました。
      <h3 class="mt-4">ジャグリング新人戦東日本杯 3位</h3>
        ジャグリング歴1年未満の人が参加できる大会で<br>
        大学一年生の時にシガーボックスという道具で参加し、３位入賞しました。<br>
      <%= image_tag "IMG_6389.jpg", class: "img" %>
    </div>
  </div>
  <div class="semi-title semi-title-1" id="activities">
    <h2>部活・サークル</h2>
    <div class="content-text">
      <h3>中学時代 陸上部</h3>
      専門種目: 800m、1500m<br><br>
      特に、800mを専門としていました。<br>
      練習環境が万全ではない状況下で、顧問の先生と練習内容を試行錯誤しながらトレーニングをしました。
      <h3>高校時代 陸上部</h3>
      専門種目: 800m、1500m<br><br>
      高校1年で怪我をしてしまい、苦しいスタートとなりましたが、できることを積み重ね半年で練習に復帰することができました。<br>
      2年夏から3年夏まで中距離ブロック長を経験し、 チームを引っ張る難しさと背中で引っ張る重要性を感じました。
      <h3>大学時代 大道芸サークル</h3>
      メイン道具: シガーボックス(箱)<br><br>
      大学から新しいことにチャレンジしたいと思い、大道芸サークルに入りました。<br>
      大道芸サークルは地元のお祭りや学園祭でのパフォーマンスをするサークルです。<br><br>
      大道芸サークルでは2年秋から3年秋まで部長を経験しました。<br>
      組織全体をまとめる初めての経験をコロナ禍の時期にしたので大変ではありましたが、 
      良い経験になりました。
    </div>
  </div>

  <div class="semi-title-3" id="context">
    <h2>お問い合わせ</h2>
    以下のボタンにてお問い合わせください。<br>
    <a class="btn btn-primary my-2" href="mailto:dadewujing0@gmail.com">お問い合わせ</a>
    <div class="flex mt-5">
      <div>
        <a href="https://x.com/CqbsAuCgYY51036" target="_blank">
          <%= image_tag "logo-black.png", class: "sns_img" %>
        </a>
      </div>
      <div>
        <a href="https://github.com/daichitk1" target="_blank">
          <%= image_tag "github-mark.png", class: "sns_img" %>
        </a>
      </div>
    </div>
  </div>  
</div>
  